@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: #FAFAFB;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
p {
  font-family: 'Noto Sans', sans-serif;
}


  
